@import "settings";
@import "post-settings";
//@import "custom-settings";
// @import "foundation";
@import "bet365/extends";

// Or selectively include components

//The grid stays as The Grid
@import 
"compass/css3/text-shadow",
"foundation/components/grid",
"foundation/components/visibility",
"foundation/components/alert-boxes", 
"foundation/components/accordion",
"foundation/components/block-grid",
"foundation/components/buttons",
"foundation/components/breadcrumbs",
"foundation/components/top-bar",
"foundation/components/offcanvas",
"foundation/components/magellan",
"foundation/components/sub-nav",
"foundation/components/icon-bar"
;


//Need CSS Reset stylesheet
abbr, bdo, b, em, samp, code, kbd{
	display: block;
}
img {
	@include single-box-shadow;
}
*:before {
	display: block;
	content: " ";
	width: 100%;
}
* > a {
	text-decoration: none;
}
pre {
	margin: 0;
}
ul, p, blockquote, dl,h1,h2,h3,h4,h5,h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;}

.bg-embossed {
	&.darkgrey {
		@include embevel_element($crumb-bg);
	}
}

//Common Elements
@import "bet365/common";

//Alert Box
@import "bet365/alert-box";

//Top Bar
//Removes the current styling of top-bar button
//TODO: Need to tidy		
@import "bet365/top-bar";

//Accordion
@import "bet365/accordion";

//Block Grid
@import "bet365/block-grid";

//Breadcrumbs
@import "bet365/breadcrumbs";

//Off Canvas
@import "bet365/off-canvas";

//Button
@import "bet365/button";

//Icon Bar
.icon-bar {
			@include embevel_element(adjust-lightness($primary-colour, -10),top,no,$custom-ratio-pos: 5,$custom-ratio-neg: -5, $custom-element-ratio: 10, $gradient: yes);
	&:before {
		border-top: none !important;
	}
	&.fixed  {
		margin-top: $topbar-height - 0.01; //Prevents icon-bar from overriding
		position: fixed;
		left: 0;
		z-index: 98;
	}
}
.left-off-canvas-toggle[aria-expanded="true"] {
	& > .aria-open {
		display: none;
	}
	& > .aria-closed {
		display: block;
	}

}
.left-off-canvas-toggle {
	& > .aria-closed {
		display: none;
	}
	& > .aria-open {
		display: block;
	}

}

// @import "bet365/icon-bar";
//Sub-Nav
@import "bet365/sub-nav";