@each $value in $colour-scheme {
		//Incorporate into previous loop used on bet365.scss
		[class*="bg-#{nth($colour-list, index($colour-scheme, $value))}"] {
			border: none;
			 > li {
				border-top: solid 1px lighten($value,5%);
				border-left: solid 1px lighten($value,5%);
				border-bottom: solid 1px darken($value,5%);
				border-right: solid 1px darken($value,5%);
				padding: 0;
				
				//TODO: Remove importants
				> a {
					color: $h3-font-color;//Need to create .extend or correlate this value to a context
					font-family: $bet365; //Need to create .extend or correlate this value to a context
					font-weight: $font-weight-bold; //Need to create .extend or correlate this value to a context
					font-size: rem-calc(14);
					@include text-shadow(0 -1px 0 rgba($black,.2)); //Need to create .extend or correlate this value to a context
					display: block !important;
					padding: $block-styled-grid-padding !important;
				}
			}
		}
}

[class*="block-grid-"] {
//	@include box-shadow();
	margin: 0 !important;
	&.bg-greydark {
		li {
		color: $white !important;
		@include text-shadow();
		}
		> li {
			background: $primary-lighter !important;
					border-right: solid 1px darken($primary-lighter, 5%);
		border-left: solid 1px lighten($primary-lighter, 5%);

		}
	}
}
/* [class*="block-grid-"]  {
	display: table !important;
	 table-layout: fixed;
	 width: 100%;
	> li {
		display: table-cell !important;
		vertical-align: top;
		float: none !important;
		padding: 0 !important;
	}
	> li img {
		border: solid 2px $primary-colour;
		padding: 0 !important;
		width: 100%;
		
	}
	> li:first-child, > li:nth-child(12n+1) {
		@include border-radius($global-radius  0 0 $global-radius);
		margin-bottom: rem-calc(5);
		border-left: none;
	}
	> li:nth-child(5n+0):before {
		display: table-row !important;
	}
	> li {
		h1, h2,  h3, h4, h5, h6 {
			padding: 0 rem-calc(10) !important;
			font-family: $title;
			text-transform: uppercase;
			position: relative;
			margin: 0;
			background: $secondary-colour;
			border-top: solid 1px lighten($secondary-colour,10%);
			border-bottom: solid 1px lighten($black, 30%);
		}
		> p {
			font-size: rem-calc(12);
		}
		> &.has-header {
			padding: 0;
			> * {
	//			padding: 0 ($block-grid-default-spacing/2) $block-grid-default-spacing;
			}
		}
		> &.has-thumb {
			vertical-align: middle;
			padding: ($block-grid-default-spacing/4);
		}
	}
	> li:last-child, > li:nth-child(12n+12) {
		@include border-radius(0 $global-radius $global-radius 0 );
		border-right: none;
	}
}
.small-block-grid-4 {
	> li:nth-of-type(4n) {
	//	display: table-row !important;
	}
} */