.button,button {
	@include button-base;
	@include border-radius($global-radius);
	@include embevel_element($secondary-complement, $gradient: yes,$text-shadow: false,$custom-ratio-pos: 10,$custom-ratio-neg: -5,$fontcolor: $black);
	text-transform: uppercase;
	border: solid 1px rgba($black,0.50);
	font-weight: $font-weight-bold;

	& {
		@include button-size(rem-calc(12), true);
	}
	&.expand {
		padding-left: rem-calc(6);
		padding-right: rem-calc(6);
		width: auto; 
	}
	
	&:before {
		border-top: none; //Removes the embevel_element border-top
	}
  
 }