// Top Bar styles intended for screen sizes above the breakpoint.
@media #{$topbar-media-query} {
	.top-bar {
		.name {
			h1, h2, h3, h4, p, span {
				a {
					color: $topbar-title-link-color;
				}
			}
		}
		.top-bar-section {
			ul.main-navigation li {
				padding: $topbar-li-padding;
			}
			ul li {
				background-color: transparent;
				padding: rem-calc($topbar-li-padding);	
				&:not(.has-form) > a:not(.button) {
					font-weight: $topbar-menu-link-weight;
					@include border-radius($global-radius);
					border: solid 1px $topbar-link-border-bg;
					padding: 0 $topbar-link-padding !important;
					line-height: $topbar-line-height !important;
				}
			}
		}
	}
}